<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <property name="CONSOLE_LOG_PATTERN" value="%m%n"/>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
  <logger level="DEBUG" name="com.g.fod.apps.main"/>
  <logger level="DEBUG" name="reactor.netty.http.client"/>
</Configuration>
